*.so
*.o
*.elf
EBOOT.BIN
/libretro/obj/

/libretro/msvc/msvc-2010/Debug/
/libretro/msvc/msvc-2010/Release/
*.suo
*.sdf
*.bc
*.js
*.dll
*.dylib
package.json
.npmignore


.vscode
build
*.old
*.gba
*.3dsx
*.elf
*.smdh
*.nacp
*.nro
.*

port-watchos